<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Supported values: nunit, xunit, mstest, mspec, mbunit and gallio -->
        <add key="FluentAssertions.TestFramework" value="xunit" />
    </appSettings>
    <connectionStrings>
        <add name="NServiceBus/Persistence/MongoDB" connectionString="mongodb://localhost:27017" />
    </connectionStrings>
</configuration>